name: E2E Tests

on: push

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: npx playwright install chromium --with-deps

      - run: pnpm build

      - run: xvfb-run pnpm test:e2e
