name: E2E Tests

on: push

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v
        with:
          node-version: 24
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: npx playwright install chromium --with-deps

      - run: xvfb-run pnpm test:e2e

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: playwright-screenshots
          path: test-results/
          retention-days: 30
